@import "reset";

$primary-color: #2e7fb9;

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.inner-div {
  clear: both;
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1024px;
}

.body-elements-separator {
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  background: #eee;
}

header {
  //position: fixed;
  height: 64px;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #eee;

  #header-inner {
    display: flex;
    align-items: center;
  }

  #logo {
    flex: none;
    display: flex;
    align-items: center;

    #logo-img {
      float: left;
      height: 35px;
      margin: 10px;
    }

    #logo-text {
      font-size: 20px;
      font-weight: 400;
    }
  }

  nav {
    flex: 1 1 auto;

    ul {
      float: right;

      li {
        display: inline-block;
        float: left;
        margin: 0 20px 0 0;
      }
    }
  }

}

#tagline-div {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  min-height: 550px;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;

  #tagline-div-inner {
    text-align: center;

    #tagline-text {

      #tagline {
        font-weight: 300;
        font-size: 30px;
        color: $primary-color;
      }

      #tagline-subtitle {
        margin-top: 10px;
        font-size: 16px;
        color: #696969;
      }
    }

    #download-button {
      display: block;
      margin-top: 30px;

      img {
        border: 2px solid $primary-color;
        max-width: 260px;
        border-radius: 5px;
        background: #eee;
      }
    }
  }
}

#intro-div {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;

  #from-image {
    width: 100%;
    margin: 20px auto;
  }

  #from-this-to-this {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px;
    color: black;

    &:before {
      content: "\2191";
      position: absolute;
      width: 30px;
      top: -10px;
      left: 15%;
      font-weight: 900;
    }

    &:after {
      content: "\2193";
      position: absolute;
      width: 30px;
      bottom: -10px;
      right: 15%;
      font-weight: 900;
    }
  }

  #to-image-div {
    position: relative;
    width: 320px;
    margin: 10px auto;

    #to-image {
      width: 100%;
    }

    .feature {
      position: absolute;
      width: 300px;

      h4 {
        font-size: 18px;
        font-weight: 400;
        color: $primary-color;
        line-height: 35px;
      }

      p {
        color: #696969;
        line-height: 20px;
        font-size: 14px;
      }

      &:nth-child(even) {
        left: -330px;
        text-align: right;
      }

      &:nth-child(odd) {
        right: -330px;
        text-align: left;
      }

    }

    @function feature-top-odd($n) {
      @return (30)+((($n)-1)*80)+px;
    }

    @function feature-top-even($n) {
      @return (30)+((($n)-2)*80)+px;
    }

    #feature1 {
      top: feature-top-odd(1);
    }

    #feature2 {
      top: feature-top-even(2);
    }

    #feature3 {
      top: feature-top-odd(3);
    }

    #feature4 {
      top: feature-top-even(4);
    }

    #feature5 {
      top: feature-top-odd(5);
    }

    #feature6 {
      top: feature-top-even(6);
    }

    #feature7 {
      top: feature-top-odd(7);
    }

    #feature8 {
      top: feature-top-even(8);
    }

  }
}

#intro-div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#youtube-video-wrapper {
  position: relative;
  padding-bottom: 50.60%;
  padding-top: 25px;
  height: 0;
  border: 2px solid $primary-color;
  margin: 20px 0;
  border-radius: 5px;
  display: none;
}

#youtube-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}